.my-intro {
    width: 70%;

}

.my-introduction {
    line-height: 1.5em!important;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.my-text {

}

.my-name {
    display: inline;
    /* background-image: linear-gradient(#fff 70%, #fdacac 45%); */
    background-image: linear-gradient(#fff 70%, #f8dfc8 45%);
}

.major {
    text-align: center;
    margin-top: 1em;
}

.intro-text {
    text-align: left;
}